*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
html,body{
    width: 100%;
    height: 100%;
    overflow-x: hidden;

}
header{
    width: 1366px;
    padding: 0 255px;
    height: 45px;
    background: white;
    border-bottom: 1px solid #F2F2F2;
 }
 %re{
     position: relative;
 }
 %ab{
     position: absolute;
 }
.head{
    width: 100%;
    height: 100%;
    background: url(../img/logo.png)no-repeat 0 50%;
    background-size: 60px 25px;
    text-align: end;
    font-size: 14px;
    @extend %re;
    padding: 14px 0;
       .user{
        width: 15px;
        height: 16px;
        @extend %ab;
        top:50%;
        right:65px;
        margin-top: -8px;   
        &>img{
            width: 100%;
            height: 100%;
        }
    }
    &>a{
        color:#686868;
    }
}

.box{
    width: 1366px;
    height: 685px;
    padding: 22px 255px 0 255px ;
    box-sizing: border-box;
    background: #F5F5F5;
    .con{
        width: 100%;
        height: 100%;
        display: flex;
        background: white;
    }
}



    .conLeft{
        width: 170px;
        height: 100%;
        background: #FFFFFF;
        padding-top: 10px;
        &>div:hover{
            background-color: #FF6577 !important;
            &>a{
                color: white;
            }
        }
        &>ul{
            display: none;        
           &>li{
               padding:6px 0 6px 50px;
             font-size: 10px;
             &>a{
                color: black; 
             }
           }
           &>li:hover{
               background-color: #FF6577 !important;
               &>a{
                   color: white;
               }
           }
        }
        &>.conClick{
//           background: url('../img/down.png') no-repeat 135px 13px;
            
        }
        &>div{  
            &>a{
                display: block;
                color: black;
            height: 40px;
            width: 100%;
            padding:11px 0 11px 50px;
             @extend %re;

             font-size: 12px;
            &>span{
                &:nth-child(1){
                     width:18px;
                height:18px;              
                @extend %ab;
                left:20px;
                top:50%;
                margin-top: -9px;
                &>img{
                    width: 100%;
                    height: 100%;
                }
                }
                &:nth-child(2){          
                        @extend %ab;
                        right:20px;
                        top:50%;
                        margin-top: -7px; 
                }
               
            }
        }
        } 
        .bg{
            background-color: #FF6577 !important;
            &>a{
            color: white !important;
                
            }

        }      
    }


    .conRight{
        -webkit-flex: 1;
     
    }
